.navbar{
    padding: 20px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1000;
 animation: slideDown 0.6s ease;
}

/* Logo */
.navbar .logo{
    width: 150px;
    transition: transform 0.3s ease;
}

.navbar .logo:hover{
    transform: scale(1.1);
}

/* Menu */
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 25px;
    color: #49557e;
    font-size: 18px;
}

/* Menu items */
.navbar-menu a{
    text-decoration: none;
    color: inherit;
    position: relative;
    cursor: pointer;
}

/* Underline animation */
.navbar-menu a::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: tomato;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.navbar-menu a:hover::after{
    width: 100%;
}

.navbar-menu a:hover{
    color: tomato;
}

/* Active */
.navbar .active{
    border-bottom: 2px solid tomato;
}

/* Right side */
.navbar-rights{
    display: flex;
    align-items: center;
    gap: 30px;
}

/* Button */
.navbar button{
    background: transparent;
    color: #49557e;
    border: 1px solid tomato;
    font-size: 16px;
    padding: 10px 25px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar button:hover{
    background-color: tomato;
    color: white;
    transform: scale(1.05);
}

/* Search icon */
.navbar-search-icon{
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.navbar-search-icon:hover{
    transform: scale(1.2);
}

/* Dot */
.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 50%;
    top: -6px;
    right: -6px;

    animation: pulse 1.5s infinite;
}

/* Hamburger */
.hamburger{
    display: none;
    font-size: 25px;
    cursor: pointer;
    position: relative;
    z-index: 1100;

}

/* Mobile Menu */
.mobile-menu{
    position: absolute;
    top: 70px;
    right: 0;
    width: 220px;
    background: white;
    color: black;
    list-style: none;
    padding: 20px;
    border-radius: 10px;
    display: none;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);

    transform: translateX(100%);
    transition: 0.3s ease;
}

.mobile-menu a{
    display: block;
    margin: 12px 0;
    text-decoration: none;
    color: #333;
}

.mobile-menu.active{
    display: block;
    transform: translateX(0);
}

/* Animations */
@keyframes pulse{
    0%{ transform: scale(1); opacity: 1; }
    50%{ transform: scale(1.5); opacity: 0.6; }
    100%{ transform: scale(1); opacity: 1; }
}

@keyframes slideDown{
    from{
        opacity: 0;
        transform: translateY(-40px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/* RESPONSIVE */

/* Tablet */
@media (max-width:1024px){
    .navbar-menu{
        gap: 18px;
        font-size: 17px;
    }

    .navbar-rights{
        gap: 20px;
    }
}

/* Mobile */
@media (max-width:768px){

    .navbar-menu{
        display: none;
    }

    .hamburger{
        display: block;
    }

    .navbar button{
        padding: 7px 18px;
        font-size: 14px;
    }

    .navbar-rights img{
        width: 20px;
    }
}